extends layout

block content
  br

  script.
    $(function () {
      $('.type-text').teletype({
        text: ['Women in the US Military: Negotiating Work and Family Conflicts'],
        typeDelay: 10,
        backDelay: 20,
        humanise: true,
        preserve: true,
        loop: 1
      });
    });
  .col-xs-12.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3.text-center
    img(src="/img/ncstatewide.png")
  h1.col-xs-12.col-sm-12.type-text
  .col-xs-12.col-md-8.col-md-offset-2
    a(href="http://ncsu.qualtrics.com/jfe/form/SV_0pqtgtJJKBI6Mrb")
      .btn.btn-block.btn-primary Click here to take the survey
    br
    br

  col-xs-12.col-sm-12.col-md-10.col-md-offset-1
    img(src='/img/oldtimewomen.png', width='300', height='222')
    img(src='/img/welcomehome.jpeg', width='300', height='222')
    img(src='/img/wim.jpg', width='300', height='222')
    br
    br
      
    
  .well.col-xs-12.col-sm-12.col-md-12.col-lg-12
    .col-xs-12.col-md-4.col-lg-3
      img(src="/img/chelli.jpeg")
    .col-xs-12.col-md-8.col-lg-8
      p.
        I am a graduate student at North Carolina State University, in my final year of the doctoral program in Sociology.  I have been studying women in the military since 2010. My research began  as in-depth interviews with women I met and gave me deep, rich, contextual descriptions of their lives.  However,  throughout my studies I noticed a lack of quantitative research on women serving in the military.  Most research focuses on a few individual stories but does not represent women in general. It is my hope that through an anonymous, large scale survey women will feel free to answer honestly about their experiences in the military and create a more realistic picture of what it means to be a woman serving.  That being said, no individual answers will be divulged, only answers in the aggregate. Because of this, I am seeking no funding sources and will have no obligations to share the data collected.  Data collected will be kept on a secure computer that only I have access to.  The use of Qualtrics, the online survey company further insures your anonymity in that it collects no data on location/ISP.
      p I hope I have given you a clear picture of my project, however, please feel free to contact me with any questions, concerns, or comments
      p 
      |  You can reach me at 
      a(href="mailto:chelli_plummer@ncsu.edu") chelli_plummer@ncsu.edu
      |   or 
      a(href="mailto:chelliplummer@gmail.com") chelliplummer@gmail.com


